@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
}

@theme {
  /* Color Palette (Hex) */

  /* Primary Blue Shades */
  --color-primary-b900: #4078ff;
  --color-primary-b800: #5c83ff;
  --color-primary-b700: #728fff;
  --color-primary-b600: #869aff;
  --color-primary-b500: #97a6ff;
  --color-primary-b400: #a8b2ff;
  --color-primary-b300: #b7bfff;
  --color-primary-b200: #e3e5ff;
  --color-primary-b100: #f0f1ff;

  /* Neutral Black Shades */
  --color-neutral-black-b900: #0e1422;
  --color-neutral-black-b800: #202533;
  --color-neutral-black-b700: #333845;
  --color-neutral-black-b600: #474b57;
  --color-neutral-black-b500: #5c5f6a;
  --color-neutral-black-b400: #71747e;
  --color-neutral-black-b300: #878a92;
  --color-neutral-black-b200: #b6b7bc;
  --color-neutral-black-b100: #e6e7e8;

  /* Neutral White Shades */
  --color-neutral-white-w900: #ffffff;
  --color-neutral-white-w100: #f6f6f6;
  --color-neutral-white-w200: #e9e9eb;

  /* Semantic Blue Shades */
  --color-semantic-blue-b900: #306cef;
  --color-semantic-blue-b800: #477cf1;
  --color-semantic-blue-b700: #5e8cf3;
  --color-semantic-blue-b600: #759dfc;
  --color-semantic-blue-b500: #8cadf6;
  --color-semantic-blue-b400: #a3bef8;
  --color-semantic-blue-b300: #baceda;
  --color-semantic-blue-b200: #d1defb;
  --color-semantic-blue-b100: #e8effd;

  /* Semantic Green Shades */
  --color-semantic-green-g900: #057234;
  --color-semantic-green-g800: #2c7f45;
  --color-semantic-green-g700: #458b56;
  --color-semantic-green-g600: #5a9868;
  --color-semantic-green-g500: #6fa479;
  --color-semantic-green-g400: #83b18b;
  --color-semantic-green-g300: #98be9e;
  --color-semantic-green-g200: #c1d8c4;
  --color-semantic-green-g100: #d5e5d7;

  /* Semantic Red Shades */
  --color-semantic-red-r900: #be1313;
  --color-semantic-red-r800: #c83727;
  --color-semantic-red-r700: #d14f3a;
  --color-semantic-red-r600: #d9644e;
  --color-semantic-red-r500: #e17862;
  --color-semantic-red-r400: #e88c77;
  --color-semantic-red-r300: #ee9f8d;
  --color-semantic-red-r200: #f8c5b9;
  --color-semantic-red-r100: #fbd9d0;

  /* Semantic Yellow Shades */
  --color-semantic-yellow-y900: #f3b40a;
  --color-semantic-yellow-y800: #f6bb33;
  --color-semantic-yellow-y700: #f9c14c;
  --color-semantic-yellow-y600: #fbc862;
  --color-semantic-yellow-y500: #fdcf76;
  --color-semantic-yellow-y400: #ffd58a;
  --color-semantic-yellow-y300: #ffdc9e;
  --color-semantic-yellow-y200: #FFEC4;
  --color-semantic-yellow-y100: #fff1d8;

  /* Effects - Blur, Shadows */

  /* Blur Effects */
  --effect-blur: none;

  /* Shadows */
  --effect-shadow-medium: 4px 4px 4px #0000000d;
  --effect-shadow-small: 2px 2px 30px #0000000d;
}

/* Heading Styles */
.body-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0;
}
.body-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0;
}

.label-normal-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.label-loose-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 5%;
  text-transform: Uppercase;
}


/* text-h1 */
.text-h1 {
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
}

/* text-h2 */
.text-h2 {
  font-size: 32px;
  line-height: auto;
  font-weight: 600;
}

/* text-h3 */
.heading-h3-normal-bold {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 700;
}

/* text-h4 */
.text-h4 {
  font-size: 18px;
  line-height: auto;
  font-weight: 500;
}

/* text-h5 */
.text-h5 {
  font-size: 16px;
  line-height: auto;
  font-weight: 600;
}

/* text-h6 */
.text-h6 {
  font-size: 14px;
  line-height: auto;
  font-weight: 500;
}

/* Paragraph Styles */

/* text-p1-regular */
.text-p1-regular {
  font-size: 14px;
  line-height: 175%;
  font-weight: 400;
}

/* text-p1-medium */
.text-p1-medium {
  font-size: 14px;
  line-height: 175%;
  font-weight: 500;
}

/* text-label */
.text-label {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
